.border-bottom{
    margin-left: 18%
}

h4{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

// .inner-adjust{
//     width: 100px;
// }

mat-card{
    width: 180px;
}

mat-grid-list{
    border: solud 1px black;
}