.container-fluid{
    // border: solid 0.5px grey;
    margin-left: 10%;
    text-align:center;
    justify-content:center;
    width: 40%


}
// .jugadores-seleccionados{

// }

button{
    margin:10px
}