
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button"[ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'home'">
        <mat-icon class="mat-icon-sidebar" mat-list-icon color="white">home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Home</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'new'">
        <mat-icon class="mat-icon-sidebar" mat-list-icon>casino icon</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">New Game</span>
      </mat-list-item>

      <mat-list-item class="item-lista" [routerLink]="'list'">
        <mat-icon class="mat-icon-sidebar" mat-list-icon>list icon</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">List Game</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'new'">
        <mat-icon class="mat-icon-sidebar" mat-list-icon (click)="signOut()">block icon</mat-icon>
        <span *ngIf="isExpanded" class="menu-item" >Log out</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
     <span>MARVEL CARD GAME</span>
     <span class="example-spacer"></span>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <mat-icon>favorite</mat-icon>
     </button>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
   </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
<mat-toolbar class="toolbar"></mat-toolbar>