  <nav>
    <ul class="menu">
      <li><a routerLink="home">Home</a></li>

      <li><a routerLink="list">Game List</a></li>

      <li><a (click)="auth.signOut()">LogOut</a></li>
    </ul>
  </nav>

  <!-- <div class="sidenav">
    <div class="logo">
     <a href="/new" class="simple-text logo-mini">
      <div class="logo-img">
        <img src="" alt="ponerboton de log out">
      </div>
     </a>
     <a href="/list" class="simple-text logo-noral">
      marvel card
     </a>
    </div>
    <ul class="nav" >
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->