.inner-adjust{
    width: 55%;
    // background-image: url(/src/assets/backgroundMarvel/marvel-fondo-app2.webp);
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;

}

h1{
    font-family: 'Roboto', sans-serif;;
    text-align: center;
}
.font1{
    font-family: 'Roboto', sans-serif;
  
  }