.container-fluid{
    height: 100vh;
}


.contenedor{
    height: 60vh;
    width: 60vw;
    margin: 10px 300px 10px 300px;
    border-radius:3%;
    text-align: center;
    border: rgb(219, 93, 93) solid;
    -webkit-border-radius:3%;
    -moz-border-radius:3%;
    -ms-border-radius:3%;
    -o-border-radius:3%;
}